
   <h1>Chic Haven</h1>
   <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

   <div class= "bg-img">
    
    
    <nav class="navbar"> 
        
        
        <ul>
            <li><a href="#">Shopping</a></li>
            <li class="signup"><a href="#">Sign up</a></li>
            <li class="login"><a href="#">Log in</a></li>
                
        </ul>


    <nav class="icon">
        <ul>
                <i class="fa-solid fa-basket-shopping"></i>
        </ul>

    </nav>
    
    </nav>
   </div>


