
   <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

   <div class= "bg-img">
    
    
    
    <nav class="navbar"> 
        
        
        <ul>
            <li class="main"><a href="/">Main Page</a></li>
            <li class="signup"><a href="/signup">Sign up</a></li>
            <li class="login"><a href="/login">Log in</a></li>
            <li class= "checkout"><a href="/checkout" ><i class="fa-solid fa-basket-shopping"></i></a></li>
            
                
        </ul>


   

    </nav>
    

   </div>


