
   <h1>Fashion Haven</h1>
   <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

   <div class= "bg-img">
    
    
    
    <nav class="navbar"> 
        
        
        <ul>
            <li class="main"><a href="/main">Main Page</a></li>
            <li class="signup"><a href="/signup">Sign up</a></li>
            <li class="login"><a href="#">Log in</a></li>
            <li class= "active"><a href="#" ><i class="fa-solid fa-basket-shopping"></i></a></li>
                
        </ul>


   

    </nav>
    

   </div>


